Welcome <%= @name %>!
<br>

Pick one: <br>
<form action="/result" method="post">
  <input type="submit" value="rock" name = "item">
</form>

<form action="/result" method="post">
  <input type="submit" value="paper" name = "item">
</form>

<form action="/result" method= "post">
  <input type="submit" value="scissors" name= "item">
</form>

