<form action='/game' method='post'>

	Enter Name:<br>
	<input type='text' name='name'> <br>

	Choose Opponent:<br>
	<select name="Opponent">
	<option value="Computer">Computer</option>
	<option value="Another player">Another player</option>
	</select> <br>

	<input type='submit' value='Play game'> <br>

</form>