<form action='/choice' method='post'>

	Enter Name:<br>
	<input type='text' name='name'> <br>

	Choose Opponent:<br>
	<select name="Opponent">
	<option value="Computer">Computer</option>
	</select> <br>

	<input type='submit' value='Play game'> <br>

</form>